@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <div class="top-row px-4 auth">
            <a class="logo" href="#">Maskin Liste</a>
            <LoginDisplay/>
            
        </div>
        <div class="wrapper">
            <div class="content main-container">
                @Body
            </div>
        </div>
    </div>
</div>
