.header {
    width: 100%;
    height: 50px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header>h3 {
    padding-top: 5px
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.name {
    text-decoration: underline;
}

fieldset {
    border: 1px solid lightblue;
    padding: 15px;
}

legend {
    width: fit-content;
    font-size: 15px;
    padding: 0 5px;
}

.btn {
    width: 200px;
    margin: 10px;
}
